$primary: #bebad4;
$mutedorange: #d9a479;
$lightgrey: #d3d3d3;
$purple: #5d178f;
$darkpurple: #1b191f;
$cyan: #2baec2;

$ig-blue: $mutedorange;
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery-swipe {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 40rem) {
    max-width: 85%;
  }
}
